<h2>My Form</h2>
<form class="form" [formGroup]="form">
  <mat-form-field>
    <mat-label>mat-input</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>mat-select</mat-label>
    <mat-select>
      <mat-option>a</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>mat-select-multi</mat-label>
    <mat-select multiple>
      <mat-select-trigger>
        <span> </span>
      </mat-select-trigger>
      <mat-option>a</mat-option>
    </mat-select>
  </mat-form-field>
</form>
